<div>
    <div id="state1" class="col-sm-12 mainContainer draggable windows">
        <a href="#" style="position:absolute;left:5px;top:2px;color:white;" ng-click="miniMize()"><i class="glyphicon glyphicon-minus"></i></a>
        <!-- <a href="#" style="position:absolute;right:25px;top:2px;color:white;" class="handle"><i class="glyphicon glyphicon-move"></i></a> -->
        <a href="#" ng-click="closeTwitchy()" style="color:white;padding: 2px;position:absolute;right:0;"><i class="glyphicon glyphicon-remove-circle"></i></a>
        <h4 style="text-align:center;cursor:pointer; color:#B9A3E3;height:40px;" class="handle">Twitchy Wolf</h4>

        <div id="menu">

            <!-- Menu Header -->
            <span class="menuHeader" style="position:absolute;top:2px;"><span style="color:#B9A3E3;">{{user.name || 'Log In'}}</span>
                <span class="menuIcons">
                    <i class="fa fa-gears pointer" ng-click="viewAccount()"></i>
                    <span ng-click="login()" class=" twitch-connect">&nbsp;<i class="fa fa-sign-in pointer"></i></span>
                    <span ng-click="logout()" class=" twitch-logout">&nbsp;<i class="fa fa-sign-out pointer"></i></span>
                    &nbsp;
                </span>
            </span>

            <!-- Button1 -->
            <span class="menuButton pointer" ng-click="openMyChat()" style="position:absolute;top:34px;">Chat Room</span>
            <span class="menuButton pointer" ng-click="viewStream()" style="position:absolute;top:66px;">Streams</span>

        </div>
        <br />

        <div ng-if="views.account" id="account" style="position:absolute;top:30px;left:225px;">
            <p>
                {{user.name}}
                <p>
                    this will be account information
                </p>
            </p>
        </div>


        <div ng-if="views.streams" id="streams" style="position:absolute;top:30px;left:225px;overflow-y:scroll">
            <input type="text" name="streams" class="" ng-change="queryStreams(stream)" ng-model="stream.search" placeholder="Search Streams">
            <i ng-show="loadingStreams" style="font-size:1.2em" class="fa fa-spinner fa-spin"></i>
            <br />
            <br />
            <div class="col-sm-12">
                <div  ng-repeat="stream in streams">
                    <div class="col-sm-6 streamBox">
                        <img class="col-sm-6 pointer" ng-click="playVideo(stream)" ng-src="{{stream.preview.medium}}" alt="{{stream.game}}" />
                        <div class="col-sm-6">
                            <p style="font-weight:bold;">{{stream.game}}</p>
                            <p>Streamer: {{stream.channel.name}}</p>
                            <p>Viewers: {{stream.viewers}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
